* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;

}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
/* HEADER START */

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* basic container code start */
.container {
    margin: 0 auto;
    width: 1370px;
    background: #F9F9FC;
}

.container1 {
    margin: 0 auto;
    width: 1370px;
    padding: 50px 0px;


}

/* basic container code end */



/* menu  items start */
.menuBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;

}
  .menuBar i {
        display: none;
    }


.menuBar ul {
    display: flex;
    gap: 70px;
    padding: 20px 0;
}

.menuBar ul li a {
    color: black;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s ease;
}

.menuBar a:hover {
    transform: scale(0.9);
}

/* menu  items end */


/* right side button and icon start */

.menuBar .rightButton {
    display: flex;
    gap: 5px;
    background: #5E3BEE;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    justify-content: center;
    align-items: center;
  

    transition: all .3s ease;


}

.rightButton:hover {
    scale: 105%;
}

.logo:hover {
    transition: all .3s ease;
    scale: 105%;

}

/* right side button and icon end */


/*  horizontal hover line start */
.menuBar ul li a {
    position: relative;
    display: inline-block;
}

.menuBar ul li a::before,
.menuBar ul li a::after {
    position: absolute;
    content: '';
    background: #5E3BEE;
    width: 0%;
    top: 50%;
    transition: translateY(-50%);
    height: 3px;
    transition: all .3s ease;
}

.menuBar ul li a::before {
    right: 105%;

}

.menuBar ul li a::after {
    left: 105%;

}

.menuBar ul li a:hover::before,
.menuBar ul li a:hover::after {

    width: 25px;

}

/*  horizontal hover line end */


/*  vertical hover line start */
.menuBar ul li {
    position: relative;
    display: inline-block;
}

.menuBar ul li::before,
.menuBar ul li::after {
    position: absolute;
    content: '';
    background: #5E3BEE;
    width: 3px;
    left: 50%;
    transition: translateX(-50%);
    height: 0;
    transition: all .3s ease;
}

.menuBar ul li::before {
    top: 105%;

}

.menuBar ul li::after {
    bottom: 105%;

}

.menuBar ul li:hover::before,
.menuBar ul li:hover::after {

    height: 90%;

}

/* HEADER END */


/* SECTION 1 START */

.left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
    margin-left: 100px;
    width: 50%;
    padding: 0 10px;

}


.text h1 {
    font-weight: bold;
    width: 480px;
    color: #333333;
    line-height: 78px;


    font-size: 60px;
}




.buttons {
    display: flex;
    gap: 25px;
    cursor: pointer;

}



.contactMeBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #5E3BEE;
    color: white;
    padding: 23px 38px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s ease;
    border: none;
    font-size: 14;
    font-weight: 500;
}

.contactMeBtn:hover {
    background: white;
    color: black;
    transform: scale(1.05);
    font-weight: medium;


}

.downloadBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #5E3BEE;
    color: white;
    padding: 23px 38px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s ease;
    border: none;
    font-size: 14;
    font-weight: 500;
}

.downloadBtn:hover {
    background: white;
    color: black;
    transform: scale(1.05);
    font-weight: medium;


}

.contactMeBtn p {
    font-size: 12px;

}




.images {
    width: 50%;
}

.images .sakib {
    width: 100%;
    margin-top: 90px;
    padding-right: 60px;
    padding-bottom: 45px;


}


.hero {
    display: flex;
    gap: 180px;
    height: 120%;


}

/* SECTION 1 END */

/* SECTION 2 START */
.section2 .numRow {
    display: flex;
    text-align: center;
    gap: 210px;
    justify-content: center;
}

.numRow h4 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.5px;

}
.numRow p{
    font-size: 16px;
    line-height: 24px;
    color: #121212;
    padding-top: 8px;

}

.textPart {
    text-align: center;
    margin-top: 120px;
}

.services .textPart h3 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.5px;

    color: #5E3BEE;
    text-align: center;
    

}

.services .textPart h4 {
    font-size: 44px;
line-height: 56px;
letter-spacing: 0.5%;
padding: 13px 0;



}

.textPart p {
    font-size: 16px;
    width: 600px;
    line-height: 32px;
    letter-spacing: 0.5px;
    margin: 0 auto;
    color: #121212;

}

.section2 .cards {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 80px 117px;

}

.card img {
    width: 36px;
    height: 36px;
    margin-top: 65px;
    margin-bottom: 45px;
}

.card:hover {
    transform: scale(1.05);


}

.card {
    transition: all .4s ease-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 287px;
    width: 376px;
    gap: 10px;

    justify-content: space-evenly;

    align-items: center;
    padding: 3px;
    box-shadow: 37px 37px 80px rgba(0, 0, 0, 0.1);
    border-radius: 20px;


}

.card p {
    margin-bottom: 50px;
    padding: 0px 40px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #121212;
}

.card h5 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.card1,
.card3 {
    margin-top: 20px;
}

/* SECTION 2 END */

/* SECTION 3 START */
.section3 {
    margin: 0 auto;
    display: flex;
    position: relative;
}

.section3 .leftText {

    padding: 110px 114px;
    width: 50%;

}
.section3 .leftText p {
font-size: 16px;
line-height: 32px;
letter-spacing: 0.5px;
}

.section3 .leftText h5 {
    color: #5E3BEE;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.5px;

}

.section3 .leftText button {
    margin-top: 40px;

}

.section3 .leftText h2 {
    padding: 22px 0;
    font-size: 60px;
    font-weight: bold;
    line-height: 78px;




}

.section3 .rightSide img {
    position: absolute;
    right: 0;
    bottom: 0;
}

#polygon2 {
    position: absolute;
    top: 110px;
    right: 370px;

}

/* SECTION 3 END */








/* counter  START */
.section3.container {
    background: transparent !important;
}

.logos {

    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background: white;
}

/* counter  end */

/* section 4 grid boxes start */
.section4 {
    background: white;
}

.gridBox {

    margin: 45px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    max-width: 80%;
    gap: 50px;

}


.gridBox .headingTxt .cell1,.cell2 {
height: 140px;}

.gridBox .headingTxt h5 {
    text-transform: uppercase;
    color: #5E3BEE;
    font-size: 18px;
    padding: 60px 0px 20px 20px;


}

.gridBox .headingTxt h3 {
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.5%;
        padding: 0px 0px 20px 15px;


}

.gridCard {
    display: grid;
    height: 480px;
    width: 530px;
    background: linear-gradient(to bottom,
            #C4C4C4 0px,
            #C4C4C4 390px,
            white 390px,
            white 100%);
    box-shadow: 37px 37px 80px rgba(0, 0, 0, 0.1);
    border-radius: 24px;


    align-items: end;
    justify-items: start;

    padding: 20px;
    box-sizing: border-box;
}

.cell2 p {
    padding: 50px 10px;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.gridCard p {
    color: gray;
    padding-top: 5px;
}



/* section 4 grid boxes end */


/* clientSection start */
.clientSection {
    margin-top: 175px;
    margin-bottom: 120px;
}

.clientSection .text {
    position: relative;
}

.clientSection .text img {
    position: absolute;
    top: 34%;
    left: 47%;
    background-color: transparent;




}

.clientSection .text h3 {
    position: relative;
    z-index: 2;
    color: #5E3BEE;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 1.5px;
    padding-top: 147px;
    z-index: 18;


}

.clientSection .text h2 {
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    line-height: 56px;
    letter-spacing: 0.5%;
    padding: 13px 0px;



}

.clientSection .text p {

    font-size: 16px;
    color: #121212;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    width: 600px;
    text-align: center;
    padding: 13px 0px;

    margin: 0 auto;

}

.clientSection .reviews {
    width: 580px;
    height: 369px;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 44px 57px 40px 32px;
    border-radius: 24px;
    box-shadow: 27px 37px 50px rgba(0, 0, 0, 0.2);
        transition:all .3s ease;


}

.clientSection .reviews img.star {
    width: 160px;






}

.clientSection .reviews p {
    padding: 32px 0px;
    width: 90%;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.5px;

}

.cardBottom {
    display: flex;
    align-items: center;
padding-bottom: 20px;    
}

.cardBottom img {
    width: 45px;
    height: 45px;
    margin-top: 10px;

    
}

.innerCard {
    display: flex;
    align-items: center;

    gap: 10px;
    width: 100%;

}

.innerCard h6 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .5px;
    color: gray;
    font-weight: 400;


}

.innerCard h4 {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: .5px;
    font-weight: 600;

}

.reviewCard {
    display: flex;
    gap: 40px;
    padding: 57px 0px;
    justify-content: center;
    align-items: center;

}
.reviews:hover {
  transform: scale(1.05);
}

/* clientSection end */


/* contact section 4 start */
.contact {
    background: url(../images/SECTION\ CTA.png);
    margin: 120px auto;
    border-radius: 24px;
    background-position: center;
    background-size: cover;
    max-width: 1200px;

}

.contact h2 {
    font-size: 50px;
    line-height: 72px;
    letter-spacing: .5%;
    padding: 100px 290px 30px;

    text-align: center;
    color: #333333;

}

#btn {
    margin: 0 500px;
    padding-bottom: 126px;

}



/* contact section 4 end */

/* footer start  */
.footer {
    background: #333333;
    display: flex;
    border-radius: 30px 30px 0 0;

    position: relative;
    max-width: 1200px;
    height: 455px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-left: 50px;
    gap: 300px;

}

.footerLeft {
    width: 50%;
    padding: 50px 0 0 80px;


}

.footerLogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerLeft p {
    color: white;
    font-size: 16px;
    letter-spacing: .5%;
    line-height: 32px;
    padding: 20px 0px;
    text-align: left;

}

.footerRight {
    width: 50%;
  

}

.mail {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(182, 180, 180);
    font-size: 20px;
}

.phone {
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
    padding: 20px 0px;
    margin-bottom: 30px;
    font-size: 20px;


}

.icons {

    color: white;
    display: flex;
    gap: 30px;

}

.icons i {
    size: 50;


}

.footerLeft .footerRight {
    border-bottom: 2px solid gray;
}

.footer::before {
    position: absolute;
    content: '';
    width: 78%;
    height: 2px;
    left: 124px;
    background: rgb(108, 114, 108);
    top: 75%;

}
.copyright {
    display: flex;
  position: absolute;
  bottom: 30px;
  justify-content: space-between;

  font-size: 14px;
  color: #ccc;
  gap: 340px;
  padding-right: 40px;
}
.copyright ul{
    display: flex;
    color: rgb(20, 18, 18);
    gap: 20px;
    

}
.copyright ul li a{
color:#ccc;
font-size: 16px;

}

/* footer end */






/* SECTION 1 START */
/* SECTION 1 END */



/*  */



/*  vertical hover line start */
/*  vertical hover line end */



























